*{
    box-sizing: border-box;
}
#parent-div{
    width: 25%;
    background-color: rgb(174, 250, 250);
    padding: 20px 30px 40px;
    margin: 20px;
    border-width: 10px;
    border-color: rgb(94, 251, 199);
    border-style:inset;
}

#product-img{
    text-align: center;
}
a {
    color:rgb(3, 178, 184);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 3s;
}
a:hover { 
    color: rgb(49, 49, 177);
    text-decoration: underline;
}
ul{
    color: rgb(19, 112, 251);
 border-bottom: 1px solid #298af9;
}
li {
margin: 10px;
}
h4 {
    color: rgb(12, 171, 171);
    text-align: center;
}
button {
    color: azure;
width: 100%;
background-color: deepskyblue;
border: none; padding: 8px;
border-radius: 8px;
padding: 10px;
}